@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  box-sizing: border-box;
}

body{
    background-color: rgb(10, 77, 88);
    color: #000000;
    display: flex ;
    font-family: 'Poppins', sans-serif; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;

}
p{
    margin:  5px 0;

}

h2{
    margin: 10px 0 15px;
}

input [type=checkbox]{
    margin-right: 0px ;
}

.container{
    background-color: #a4e9d4;
    box-shadow: 0px 2px 10px rgba(255 , 255 , 255, 0.2);
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 400px;
    max-width : 100%;
    border-radius: 30px;
}

.result-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 12px 10px ;
    height: 50px;
    width: 100%;
    border-radius: 15px;
}

.result-container #result{
    word-wrap: break-word;
    max-width: calc(100% - 60px);
    color: rgb(61, 56, 56);
}
.result-container .btn{
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.btn{
    border: none;
    color: rgb(66, 5, 82);
    cursor: pointer;
    font-size: 18px;
    padding: 8px 12px;
    background-color: rgb(173, 165, 236);
    border-radius: 10px;

}

.btn-large{
    display: block;
    width: 100%;

}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

@media screen and (max-width:400) {
    .result-container{
        font-size: 15px;
    }
}

input[type="number"]{
    width: 50px;
    border-radius: 5px;
    border: none;
    text-align: center;
    height: 20px;
    font-size: 16px;
    font-weight: bolder;
}

input [type ="number"] ::-webkit-outer-spin-button,
input [type ="number"] ::-webkit-inner-spin-button{
  margin: 0px;
}
